<!-- /sessions/login -->

<div class="container">

  <% if flash[:message] %>
    <div class="flash-message-wrapper">
      <%= flash[:message] %>
    </div>
  <% end %>

  <div class="col-md-8 col-md-offset-2">
    <h2>Log in</h2>
    <form action="/login" method="post">

      <label for="username_or_email">Username or email</label>
      <input id="username_or_email" type="text" name="name_or_email" placeholder="Username or email" required/><br><br/>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password" required/>

      <br><br/>

      <input type="submit" value="Login">

    </form> <!-- /login route -->

    <br><br/>

    <p>Not a member? <a href="/signup">Sign up here</a><p>

  </div> <!-- .col-md-8 col-md-offset-2 -->

</div> <!-- .container -->
