<!-- /sessions/signup -->

<h1>Welcome to My FavTools</h1>
<div class="container">
  <% if flash[:message] %>
    <div class="flash-message-wrapper">
      <%= flash[:message] %>
    </div>
  <% end %>

  <h2>Sign up</h2>
  <div class="col-md-8 col-md-offset-2">

    <form action="/signup" method="post">

      <label for="username">Username</label>
      <input id="username" type="text" name="name" placeholder="Username" required/>

      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="Email" required/>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password" required/>

      <input type="submit" value="Signup">

    </form> <!-- /signup route -->

    <p>Already a member? <a href="/login">Log in here</a><p>

  </div> <!-- .col-md-8 col-md-offset-2 -->

</div> <!-- .container -->
