<!-- /folders/new -->

<div class="container">

  <h2>Create Folder</h2>
  <div class="col-md-8 col-md-offset-2">

    <form action="/folders" method="post">
      <h2>Welcome to My_FavTools</h2>

      <% if flash[:message] %>
        <div class="flash-message-wrapper">
          <%= flash[:message] %>
        </div>
      <% end %>

      <label for="name">Name</label>
      <input id="name" type="text" name="folder[name]" placeholder="Folder name" required/><br/>

      <label for="description">Description</label>
      <input id="description" type="text" name="folder[description]" placeholder="Description"><br/>

      <label for="category_id">Select a Category</label>
      <select id="category_id" type="text" name="folder[category_id]">
        <% @categories.each() do |category| %>
          <option value="<%= category.id()%>"> <%= category.name() %> </option>
        <% end %>
      </select>

      <br/>

      <!-- privacy checkbox - default is unchecked -->
      <!-- This is public folder unless user checks the box to flag it private -->
      <label for="privacy">Private Folder</label>
      <input id="privacy" type="checkbox" name="folder[privacy]" value=true><br/>

      <input type="submit" value="New Folder">

    </form> <!-- /new folder route -->
  </div> <!-- .col-md-8 col-md-offset-2 -->
</div> <!-- .container -->
