<!-- _header -->

<header>
  <!-- Nav Bar -->
  <nav>
    <a href="/">Home</a>
    <% if logged_in? %>
      <a href="/<%= current_user.slug %>"><%= current_user.slug %></a>
    <% end %>
  </nav>
</header>
