<!-- _header -->

<header>

  <div class="right menu">

    <% if logged_in? %>
      <h2> myFaveTools welcomes <%= current_user.slug %> </h2>
      <% if !path_info.match(/\/folders\/new/) %>
        <a href="/folders/new">New Folder</a>
      <% end %>

      <% if !path_info.match(/\/items\/new/) %>
        <a href="/items/new">New Item</a>
      <% end %>
    <% else %>
      <h2>myFaveTools</h2>
    <% end %>
  </div>

</header>
