<!-- _header -->

<header>
  <!-- Nav Bar -->
  <nav>
    <a href="/">Home</a>
    <% if logged_in? %>
      <a href="/users/<%= current_user.slug %>"><%= current_user.slug %></a>
      <a href="/folders">Folders</a>
      <a href="/items">Items</a>
      <a href="/users">Users</a>
      <a href="/settings/<%= current_user.slug %>">Settings</a>
      <a href="/logout">Log out</a>
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    <% end %>
  </nav>

  <!-- right-hand side menu -->
  <div class="right menu">
    <h2>Welcome to myFaveTools</h2>

    <% if logged_in? %>
      <% if !path_info.match(/\/folders\/new/) %>
        <a href="/folders/new">New Folder</a>
      <% end %>

      <% if !path_info.match(/\/items\/new/) %>
        <a href="/items/new">New Item</a>
      <% end %>
    <% end %>
  </div>

</header>
