<!-- Nav Bar -->
<div class="navbar">

  <a href="/">Home</a>

  <% if logged_in? %>
    <a href="/folders">Folders</a>
    <a href="/items">Items</a>
    <a href="/users">Users</a>
    <a href="/settings/<%= current_user.slug %>">Settings</a>
    <a href="/logout">Log out</a>
  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  <% end %>
</div>
