<!-- /users/signup -->

<div class="container">

  <% if flash[:message] %>
    <div class="flash-message-wrapper">
      <%= flash[:message] %>
    </div>
  <% end %>

  <div class="col-md-8 col-md-offset-2">
    <h2>Sign up</h2>
    <form action="/signup" method="post">

      <label for="username">Username</label>
      <input id="username" type="text" name="user[name]" placeholder="Username" required/><br><br/>

      <label for="email">Email</label>
      <input id="email" type="text" name="user[email]" placeholder="Email" required/><br><br/>

      <label for="password">Password</label>
      <input id="password" type="password" name="user[password]" placeholder="Password" required/><br><br/>

      <label for="password">Password Confirmation</label>
      <input id="password" type="password" name="user[password_confirmation]" placeholder="Re-type password" required/>

      <br><br/>

      <input type="submit" value="Signup">

    </form> <!-- /signup route -->

    <br><br/>

    <p>Already a member? <a href="/login">Log in here</a><p>

  </div> <!-- .col-md-8 col-md-offset-2 -->

</div> <!-- .container -->
