<!-- index -->

<div class="container">

  <%= erb :'/partials/_flash_message' %>

  <div class="col-md-8 col-md-offset-2">
    <h3>Welcome to myFaveTools</h3>

    <br></br>

    <p>A place to keep track of and share your favorite ideas!</p>

    <br></br>

    <h3><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h3>
  </div>
</div>
